.container {
  width: 100vw;
  min-height: 100vh; /* Garante que ocupa toda a tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mantém o conteúdo no topo */
  background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
  padding: 30px 0;
  box-sizing: border-box;
}

/* Títulos alinhados */
.titulo {
  font-size: 86px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -20px;
  color: black;
}

.subtitulo {
  font-size: 28px;
  color: #555;
  text-align: center;
  margin-bottom: 15px; /* Aproxima do título */
}



/* Layout dos cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 80%;
  gap: 20px;
  justify-content: center;
}

/* Definir máximo de 4 cards por linha */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr); /* No máximo 4 por linha */
  }
}

@media (max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 por linha em telas menores */
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr); /* 1 por linha no mobile */
  }
}

/* Barra de Pesquisa */
.search-bar {
  width: 40%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  outline: none;
  margin-bottom: 30px; /* Define espaço entre a barra e os cards */
  background-color: white;
  color: black;
}

.search-bar:focus {
  /* border-color: #555; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar::placeholder {
  color: #888; /* Cor do placeholder mais suave */
}

